<!-- <app-sign-in></app-sign-in> -->

<app-top-navigation-bar></app-top-navigation-bar>

<div style="position: absolute;right:0;padding-top:2em;width:20%;color:darkcyan;">
  <app-suggested-posts></app-suggested-posts>
</div>

<div>
    <app-posts *ngFor="let data of postData" [src]="data.src" [title]="data.header" [summary]="data.summary"></app-posts>    
</div>


<!-- Temporary Content starts here -->
<!-- <div class="card"  style="width: 25rem;">
  <div class="card-body">
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
      <div class="text-center">
        <img [src]="imgSrc" (click)="fileUploader.click()" width="350px" height="250px">
      </div>
      <div class="form-group">
        <label>Select a file to upload</label>
        <input #fileUploader type="file" accept="image/*" class="form-control" formControlName="imageUrl" (change)="showPreview($event)">
      <div *ngIf="isSubmitted && formControls.imageUrl.errors?.required" class="text-danger">
        This field is required.
      </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" formControlName="caption" placeholder="Caption">
        <div *ngIf="isSubmitted && formControls.caption.errors?.required" class="text-danger">
          This field is required.
        </div>
      </div>

      <div class="form-group">
        <select formControlName="category" class="form-control">
          <option value="Animal" selected>Animal</option>
          <option value="Vehicle">Vehicle</option>
          <option value="Bird">Bird</option>

        </select>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success float-right">Submit</button>
      </div>
    </form>
  </div>
</div> -->