<div>
    <h3>Top Rated</h3>
    <ul style="list-style-type:none;padding-left: 0px;cursor: pointer;">
        <li>Bundling with webpack</li>
        <li>Autosave on compilation</li>
        <li>Components.</li>
        <li>Pipes- inbuilt and custom pipes</li>
        <li>Services</li>
        <li>Component interaction</li>
        <li>Directives- inbuilt and custom</li>
        <li>Routing</li>
        <li>Dependency Injection and how it is achieved in angular</li>
        <li>Modules</li>        
        <li>Dependency Injection</li>
        <li>Data Binding</li>
        <li>Suggested Post</li>
        <li>Suggested Post</li>
        <li>Suggested Post</li>
        <li>Suggested Post</li>
        <li>Suggested Post</li>
        <li>Suggested Post</li>
        <li>Suggested Post</li>
        
    </ul>
</div>